<p>page2 works!</p>

<H1 [style]="{'font-size': 100 + 'px', 'font-weight': 'bold', 'color': 'red'}">ngclass -- My Application</H1>
<H1 [style]="{'font-size': 50 + 'px', 'font-weight': 'bold',
 'color': 'green','padding-top':0 +'px', 'font-style': 'italic'}">ngclass -- My Application</H1>
 <H1 [ngStyle]="{'font-size': 100 + 'px', 'font-weight': 'bold', 'color': 'red'}">ngclass -- My Application</H1>
<H1 [style]="{'font-size': '100px', 'font-weight': 'bold', 'color': 'red'}">ngclass -- My Application</H1>
